apparmor==3.1.7
argcomplete==3.4.0
attrs==23.2.1.dev0
autocommand==2.2.2
certifi==2024.8.30
cffi==1.17.1
click==8.1.7
cryptography==42.0.8
distlib==0.3.8
distro==1.9.0
fastjsonschema==2.20.0
filelock==3.13.3
jaraco.context==5.3.0
jaraco.functools==4.0.2
jaraco.text==4.0.0
LibAppArmor==3.1.7
libfdt==1.7.1
libtorrent==2.0.10
more-itertools==10.3.0
ordered-set==4.1.0
packaging==24.1
pipx==1.6.0
platformdirs==4.3.6
psutil==6.0.0
pycparser==2.22
pygdbmi==0.11.0.0
PyGObject==3.50.0
Reflector==2023.6.28.0.36.1
sentry-sdk==2.16.0
setuptools==69.5.1
smbus==1.1
TBB==0.2
tomli==2.0.1
trove-classifiers==2024.9.17
ufw==0.36.2
urllib3==1.26.20
userpath==1.9.2
validate-pyproject==0.20.2
vboxapi==1
virtualenv==20.26.2
wheel==0.44.0
